:root {
  --shadow: 0px 3px 6px rgba(158, 158, 158, 0.308);
  --btn-color: #200224;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
    "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 63.5%;
  background: #f1f1f1;
  color: rgb(31, 31, 31);
}

a {
  text-decoration: none;
  color: inherit;
}
